<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="../static/CSS/userHome.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/resources/Main Logo.png" alt="Car War">
        </div>
        <div id="middle">
            <ul>
                <li class="item"><a href="">Home</a></li>
                <li class="item"><a href="">Safe Route</a></li>
                <li class="item"><a href="">Report</a></li>
                <li class="item"><a href="">Contact</a></li>
                <li class="item"><a href="">Safety Tips</a></li>
                <li class="item"><a href="">Contact us</a></li>
                <li class="item"><a href="">About us</a></li>
            </ul>
        </div>
        <div id="profile">
            <div class="profile-icon">
                <img src="../static/resources/user_icon.png" alt="Profile icon">
            </div>
                <div class="user-info">
                  <span class="user-name">FAHAD</span>
                  <span class="user-type">Admin</span>
                </div> 
        </div>
    </nav>

    
    <section id="home">
        <div class="container">
            <div class="left-half">
                <h1 class="woman-safety">Woman Safety</h1>
                <h3>Welcome to Women Safety Hub</h3>
                <p>We are dedicated to empowering and safeguarding women in their daily lives. Our mission is to provide you with the tools and resources needed to enhance your personal safety and well-being. We envision a world where every woman stands tall in her strength, feels secure in her surroundings, and radiates confidence in every aspect of life. Our goal is to build a comprehensive platform solely devoted to women's safety, equipping you with essential tools, a wealth of resources, and an unwavering community of support to navigate the intricacies of daily life.</p>
            </div>
            <div class="right-half">
                <button class="unsafe-button">Feeling Unsafe</button>
            </div>
        </div>
    </section>
</body>
    
    
</body>
</html>
