<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="../static/CSS/userSafeRoute.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/resources/Main Logo.png" alt="Car War">
        </div>
        <div id="middle">
            <ul>
                <li class="item"><a href="">Home</a></li>
                <li class="item"><a href="">Safe Route</a></li>
                <li class="item"><a href="">Report</a></li>
                <li class="item"><a href="">Contact</a></li>
                <li class="item"><a href="">Safety Tips</a></li>
                <li class="item"><a href="">Contact us</a></li>
                <li class="item"><a href="">About us</a></li>
            </ul>
        </div>
        <div id="profile">
            <div class="profile-icon">
                <img src="../static/resources/user_icon.png" alt="Profile icon">
            </div>
                <div class="user-info">
                  <span class="user-name">FAHAD</span>
                  <span class="user-type">Admin</span>
                </div> 
        </div>
    </nav>

    
    <section id="SafeRoute">
        <div class="container">
            <div class="left-half">
                
            </div>
            <div class="right-half">
                
            </div>
        </div>
    </section>
</body>
    
    
</body>
</html>
